---
import Question from "./Question.astro"
---

<section class="
    w-full flex p-4 py-10
">
  <div class="
    container mx-auto items-center relative flex
    max-w-[600px] flex-wrap
  ">
    <h4 class="font-semibold text-violet text-3xl text-center w-full mb-2">Preguntas frecuentes</h4>
    <Question question="¿Qué sucede si no puedo asistir a uno de los vivos?">
      Para tener la mejor experiencia deberías asistir a los eventos en vivo ya que serán interactivos. Igualmente, los encuentros serán grabados y enviados el día después de cada clase. Estas grabaciones se mantendrán por 4 meses en la plataforma.
    </Question>
    <Question question="¿Puedo solicitar a mi empresa que pague el curso?">
      ¡Sí! Tu participación en el curso es igual de valiosa para tu empresa como para ti ya que podrás aplicar los aprendizajes a tu día a día.
      <br/>
      <br/>
      Para solicitar que lo paguen puedes hablar con un manager o con el área de RRHH / People. Puedes utilizar este <a href="https://bit.ly/TemplateReintegro" target="_blank" rel="noopener noreferrer" class="text-violet font-bold underline">template de correo</a> para enviarles tu solicitud.     
      <br/>
      <br/>
      Y si desean capacitar a varias personas del equipo, pueden <a href="https://somosedison.com/empresas" target="_blank" rel="noopener noreferrer" class="text-violet font-bold underline">contactarnos para coordinar la capacitación</a>.
    </Question>
    <Question question="¿Tienen certificación?">
      Sí, al finalizar el curso se entregará una certificación de asistencia a quienes hayan asistido a más del 50% de las clases para que guardes y puedas compartir.
    </Question>
    <Question question="¿Tienen política de reembolso?">
      Sí, si por alguna razón no te sientes satisfech@ podrás pedir un reintegro previo a la segunda clase.
    </Question>
    <Question question="¿Cuánto tiempo queda disponible el material del curso?">
      Las grabaciones permanecerán en la plataforma por tres meses luego de finalizado el curso. Pasado este plazo, podrás solicitarlas vía Email o Whatsapp y te enviaremos un link.
    </Question>
    <Question question="¿Otras Dudas?">
      Escribile a <a href="mailto:lucio.molina@somosedison.com" class="text-violet font-bold underline">Lucio</a> que nos va a estar ayudando con el curso o por <a href="https://api.whatsapp.com/send/?phone=5491123913070&text&type=phone_number&app_absent=0&text=¡Hola! Me gustaría recibir más información." target="_blank" rel="noopener noreferrer" class="text-violet font-bold underline">WhatsApp</a>.
    </Question>
  </div>
</section>

