---
import Layout from '../layouts/Layout.astro';
import Defer from '../components/Defer.astro';

const currentTime = new Date().toLocaleTimeString();
---

<Layout>
  hola<br/>
  {currentTime}
  <br/>
  <!-- {JSON.stringify(data.results[0].name.first)} -->
  <Defer server:defer>
    <p slot="fallback">cargando...</p>
  </Defer>
</Layout>

