---
import axios, { type AxiosResponse } from "axios";
import { aResult, type Result } from "@volpe/utils";
import {type Course} from "../env.d"
import Card from "./Card/Card.astro";

const api_qa = axios.create({
  baseURL: "https://qa.api.somosedison.com",
  headers: {
    Authorization: "l33hDPtjJK0emSag5NcJKdrJbWXUFpORTSih",
  },
});

const [err, axiosResponse] = await api_qa.get[aResult](`/courses/market/ffde42cb-1588-4928-8dd6-330b02ff26df`) as Result<AxiosResponse<Course[]>>;

if (err) throw err
if (!axiosResponse) throw err

const {data: courses} = axiosResponse

---
<!-- HTML generado por Astro -->
<h1>Imágenes Optimizadas</h1>
{courses.map(course => {
  return <Card course={course} />
})}
