---
import sharp from "sharp";
import fs from "fs";
import path from "path";
import axios from "axios";

// Crear instancia de Axios
const api_qa = axios.create({
  baseURL: "https://qa.api.somosedison.com",
  headers: {
    Authorization: "l33hDPtjJK0emSag5NcJKdrJbWXUFpORTSih",
  },
});

const outputDir = path.resolve("./public/optimized-images");

let optimizedImages = [];

try {
  const res = await api_qa.get(`/courses/market`);
  const courses = res.data;

  for (const course of courses) {
    for (const user of course.users) {
      const { id: userId } = user.user;

      const outputImagePath = path.join(outputDir, `${userId}.webp`);

      if (fs.existsSync(outputImagePath)) {
        optimizedImages.push(`/optimized-images/${userId}.webp`);
        continue;
      }
      optimizedImages.push(`/optimized-images/${userId}.webp`);
    }
  }
} catch (error) {
  console.error("Error al obtener los cursos:", error);
}
---
<!-- HTML generado por Astro -->
<h1>Imágenes Optimizadas</h1>
<div>
  {optimizedImages.map((src) => (
    <img src={src} alt="Imagen optimizada" />
  ))}
</div>
